<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Groupie-tracker</title>
    <h1 id="Title">Welcome to Groupie Tracker!</h1>
</head>
<body>
    <div class="container">
        {{range .}}
        <form action="/artistInfo" method="post">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <input type="hidden" name="ArtistName" value="{{.Name}}" alt="{{.Name}}">
                        {{if ne .Id 21}}
                        <input type="image" src="{{.Image}}">
                        {{else}}
                        <div class="placeholder-image"></div>
                        {{end}}
                    </div>
                    <div class="flip-card-back">
                        <input type="submit" id="back" value="{{.Name}}">
                    </div>
                </div>
            </div>
        </form>
        {{end}}
    </div>
</body>
</html>
